.cartBtn {
    width: 140px;
    height: 40px;
    border-radius: 24px;
    border: none;
    background-color: #3B82F6;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .5s;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    color: white;
}
  
.iconContainer {
    position: absolute;
    left: -50px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    padding-left: 12px;
    transition-duration: .5s;
}
  
.icon {
    border-radius: 1px;
}
  
.text {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition-duration: .5s;
    font-size: 14px;
    font-weight: 600;
}
  
.cartBtn:hover .iconContainer {
    transform: translateX(58px);
    border-radius: 40px;
    transition-duration: .5s;
}
  
.cartBtn:hover .text {
    transform: translate(10px,0px);
    transition-duration: .5s;
}
  
.cartBtn:active {
    transform: scale(0.95);
    transition-duration: .5s;
}